<!-- This partial html file is used in the index.html file. It is the container for the regular calculator -->

<div id="calculator-container">
  <!-- Change this to type "text" and add restrains to the input -->
  <input
    type="number"
    id="number1"
    name="number1"
    placeholder="Enter a number"
  />
  <div class="cal-digits-container">
    <div id="calc-digits">
      <!-- Change the numbers to the image buttons to add styling to the page -->
      <div class="first-line">
        <span class="digits ac">AC</span>
        <span class="digits positive-negative">&#177;</span>
        <span class="digits percetage">&#37;</span>
        <span class="divide"><strong>&#247;</strong></span>
      </div>
      <div class="second-line">
        <span class="digits seven">&#55;</span>
        <span class="digits eight">&#56;</span>
        <span class="digits nine">&#57;</span>
        <span class="times"><strong>&#215;</strong></span>
      </div>
      <div class="third-line">
        <span class="digits four">&#52;</span>
        <span class="digits five">&#53;</span>
        <span class="digits six">&#54;</span>
        <span class="minus"><strong>&#8722;</strong></span>
      </div>
      <div class="fourth-line">
        <span class="digits one">&#49;</span>
        <span class="digits two">&#50;</span>
        <span class="digits three">&#51;</span>
        <span class="plus"><strong>&#43;</strong></span>
      </div>
      <div class="fifth-line">
        <span class="digits zero">&#48;</span>
        <span class="digits dot">&#8901;</span>
        <span class="digits result"><strong>&#61;</strong></span>
      </div>
    </div>
  </div>
</div>
