<!-- This partial html file is used in the index.html file. It is the container for the regular calculator -->

<div id="calculator-container">
  <h2>Calculator</h2>
  <input
    type="text"
    id="input-box"
    name="input-box"
    placeholder="Enter a number"
  />
  <div class="calc-digits-container">
    <div id="calc-digits">
      <div class="first-line">
        <span class="rounded-borders clear">AC</span>
        <span class="rounded-borders positive-negative">&#177;</span>
        <span class="rounded-borders percentage">&#37;</span>
        <span class="divide">&#247;</span>
      </div>
      <div class="second-line">
        <span class="digits rounded-borders seven">&#55;</span>
        <span class="digits rounded-borders eight">&#56;</span>
        <span class="digits rounded-borders nine">&#57;</span>
        <span class="times">&#215;</span>
      </div>
      <div class="third-line">
        <span class="digits rounded-borders four">&#52;</span>
        <span class="digits rounded-borders five">&#53;</span>
        <span class="digits rounded-borders six">&#54;</span>
        <span class="minus">&#8722;</span>
      </div>
      <div class="fourth-line">
        <span class="digits rounded-borders one">&#49;</span>
        <span class="digits rounded-borders two">&#50;</span>
        <span class="digits rounded-borders three">&#51;</span>
        <span class="plus">&#43;</span>
      </div>
      <div class="fifth-line">
        <span class="digits rounded-borders zero">&#48;</span>
        <span class="digits rounded-borders dot">&#8901;</span>
        <span class="rounded-borders equals">&#61;</span>
      </div>
    </div>
  </div>
</div>
