<!-- This partial html file is used in the index.html file. It is the container for the regular calculator -->

<div id="calculator-container">
  <!-- Change this to type "text" and add restrains to the input -->
  <input type="text" id="number1" name="number1" placeholder="Enter a number" />
  <div class="cal-digits-container">
    <div id="calc-digits">
      <!-- Change the numbers to the image buttons to add styling to the page -->
      <div class="first-line">
        <span class="rounded-borders clear">AC</span>
        <span class="rounded-borders positive-negative">&#177;</span>
        <span class="rounded-borders percentage">&#37;</span>
        <span class="divide"><strong>&#247;</strong></span>
      </div>
      <div class="second-line">
        <span class="digits rounded-borders seven">&#55;</span>
        <span class="digits rounded-borders eight">&#56;</span>
        <span class="digits rounded-borders nine">&#57;</span>
        <span class="times"><strong>&#215;</strong></span>
      </div>
      <div class="third-line">
        <span class="digits rounded-borders four">&#52;</span>
        <span class="digits rounded-borders five">&#53;</span>
        <span class="digits rounded-borders six">&#54;</span>
        <span class="minus"><strong>&#8722;</strong></span>
      </div>
      <div class="fourth-line">
        <span class="digits rounded-borders one">&#49;</span>
        <span class="digits rounded-borders two">&#50;</span>
        <span class="digits rounded-borders three">&#51;</span>
        <span class="plus"><strong>&#43;</strong></span>
      </div>
      <div class="fifth-line">
        <span class="digits rounded-borders zero">&#48;</span>
        <span class="digits rounded-borders dot">&#8901;</span>
        <span class="digits rounded-borders equals"
          ><strong>&#61;</strong></span
        >
      </div>
    </div>
  </div>
</div>
