<!-- This partial html file is used in the index.html file. It is the display for the calculator
 It will display the different calculator options and the main div for where each calculator 
 will be displayed at. -->

<div id="calculator-display">
  <div class="options">
    <div class="reg-calc">
      <h3 class="calculator-heading">Calculator</h3>
      <!-- <img src="../images/logos/2824440_calculator_math_school_tool_icon.png" alt="calculator icon" width="48" height="48"> -->
    </div>
    <div class="cooking">
      <h3 class="cooking-heading">Cooking</h3>
    </div>
    <div class="conversion">
      <h3 class="conversion-heading">Conversion</h3>
    </div>
    <!-- <div class="currency">
      <h3 class="currency-heading">Currency</h3>
    </div> -->
  </div>
  <div id="display-container"></div>
</div>
