<div class="conversion-container">
  <h2>Unit Converter</h2>
  <input type="number" id="input-box" placeholder="Enter value" />
  <select id="conversion-from-unit">
    <optgroup label="Weight">
        <option value="kg">Kilogram (kg)</option>
        <option value="g">Gram (g)</option>
        <option value="lb">Pound (lb)</option>
        <option value="oz">Ounce (oz)</option>
      </optgroup>
      <optgroup label="Length">
        <option value="km">Kilometer (km)</option>
        <option value="m">Meter (m)</option>
        <option value="mi">Mile (mi)</option>
        <option value="ft">Foot (ft)</option>
        <option value="in">Inch (in)</option>
        <option value="cm">Centimeter (cm)</option>
        <option value="yd">Yard (yd)</option>
        <option value="ly">Light Year (ly)</option>
      </optgroup>
      <optgroup label="Volume">
        <option value="l">Liter (l)</option>
        <option value="ml">Milliliter (ml)</option>
        <option value="gal">Gallon (gal)</option>
        <option value="tsp">Teaspoon (tsp)</option>
        <option value="tbsp">Tablespoon (tbsp)</option>
        <option value="cup">Cup (cup)</option>
        <option value="floz">Fluid Ounce (floz)</option>
        <option value="pint">Pint (pint)</option>
        <option value="quart">Quart (quart)</option>
      </optgroup>
      <optgroup label="Temperature">
        <option value="F">Fahrenheit (F)</option>
        <option value="C">Celsius (C)</option>
      </optgroup>
      <optgroup label="Energy">
        <option value="J">Joule (J)</option>
        <option value="cal">Calorie (cal)</option>
      </optgroup>
      <optgroup label="Speed">
        <option value="mph">Miles per Hour (mph)</option>
        <option value="kmh">Kilometers per Hour (kmh)</option>
        <option value="m/s">Meters per Second (m/s)</option>
        <option value="ft/s">Feet per Second (ft/s)</option>
      </optgroup>
      <optgroup label="Angle">
        <option value="deg">Degrees (deg)</option>
        <option value="rad">Radians (rad)</option>
      </optgroup>
      <optgroup label="Time">
        <option value="s">Second (s)</option>
        <option value="min">Minute (min)</option>
        <option value="h">Hour (h)</option>
        <option value="d">Day (d)</option>
        <option value="week">Week (week)</option>
        <option value="year">Year (year)</option>
      </optgroup>
    </select>
  <select id="conversion-to-unit">
    <optgroup label="Weight">
        <option value="g">Gram (g)</option>
        <option value="kg">Kilogram (kg)</option>
        <option value="lb">Pound (lb)</option>
        <option value="oz">Ounce (oz)</option>
      </optgroup>
      <optgroup label="Length">
        <option value="ft">Foot (ft)</option>
        <option value="m">Meter (m)</option>
        <option value="yd">Yard (yd)</option>
        <option value="in">Inch (in)</option>
        <option value="cm">Centimeter (cm)</option>
        <option value="km">Kilometer (km)</option>
        <option value="mi">Mile (mi)</option>
        <option value="ly">Light Year (ly)</option>
      </optgroup>
      <optgroup label="Volume">
        <option value="ml">Milliliter (ml)</option>
        <option value="l">Liter (l)</option>
        <option value="gal">Gallon (gal)</option>
        <option value="tsp">Teaspoon (tsp)</option>
        <option value="tbsp">Tablespoon (tbsp)</option>
        <option value="cup">Cup (cup)</option>
        <option value="floz">Fluid Ounce (floz)</option>
        <option value="pint">Pint (pint)</option>
        <option value="quart">Quart (quart)</option>
      </optgroup>
      <optgroup label="Temperature">
        <option value="C">Celsius (C)</option>
        <option value="F">Fahrenheit (F)</option>
      </optgroup>
      <optgroup label="Energy">
        <option value="cal">Calorie (cal)</option>
        <option value="J">Joule (J)</option>
      </optgroup>
      <optgroup label="Speed">
        <option value="kmh">Kilometers per Hour (kmh)</option>
        <option value="mph">Miles per Hour (mph)</option>
        <option value="m/s">Meters per Second (m/s)</option>
        <option value="ft/s">Feet per Second (ft/s)</option>
      </optgroup>
      <optgroup label="Angle">
        <option value="rad">Radians (rad)</option>
        <option value="deg">Degrees (deg)</option>
      </optgroup>
      <optgroup label="Time">
        <option value="min">Minute (min)</option>
        <option value="s">Second (s)</option>
        <option value="h">Hour (h)</option>
        <option value="d">Day (d)</option>
        <option value="week">Week (week)</option>
        <option value="year">Year (year)</option>
      </optgroup>
    </select>
  <button id="convert-unit">Convert Unit</button>
  <div id="result"></div>
</div>
